@font-face{font-family:"Minecraft";src:url(assets/Minecraft.ttf)}
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:ital@1&display=swap');

#root, body {
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 1rem 0;
    font-family: "Minecraft";
    color: #fff;
    text-shadow: 0 2.5px 0 #000;
    word-spacing: 5px;
    font-size: 4.5rem;
    line-height: 1.5rem;
    width: 85%;
    font-weight: 100;
    font-style: normal;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    -webkit-font-smoothing: antialiased;
}

.navbar {
    background: #262626;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    padding-top: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.4666666666666667);
}

header {
    display: block;
}

.navbar .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.nav-logo {
    width: -webkit-max-content;
    width: max-content;
    height: 40px;
    color: #fff;
    text-decoration: none;
    font-family: "Minecraft";
    display: flex;
    flex-direction: row;
    text-align: left;
    text-anchor: start;
    place-content: center;
    font-size: 1.1rem;
    place-items: center;
    font-weight: 100;
    font-style: normal;
}

.navbar .header-nav {
    height: 100%;
}

nav {
    display: block;
}

.main-section {
    position: relative;
    background: #000000 url(assets/images/Daytime.png);
    background-color: rgba(0, 0, 0, 0.336);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    text-align: center;
}

.icon-XD {
    color: white;
    text-decoration:none;
    display:block;
    cursor:pointer;
    user-select:none;
    font-size: 32px;
    padding:.9rem .9rem;
}

.home-show-sections {
    background: #323232;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #323232;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #686868;
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .arrow {
    position: absolute;
    color: #fff;
    border-radius: 50%;
    font-size: 52px;
    animation: arrowAnimation 1s ease-in-out infinite;
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
  }

  @keyframes arrowAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.button-text .button-icon {
  display: flex;
  place-content: center;
  place-items: center;
  width: 40px;
  padding: 0.3rem;
}

.button-text{
  text-decoration:none;
  display:block;
  cursor:pointer;
  background:linear-gradient(#910000,#850000);
  border:0;
  font-family:"Minecraft";
  color:#fff;
  padding:.6rem .9rem;
  font-size:1.4rem;
  margin:4px;
  display:flex;
  place-content:center;
  place-items:center;
  font-weight:100;
  font-style:normal;
  text-shadow:0 3px 0 rgba(0,0,0,.25882352941176473);
  --border:#000;
  --top-border:#ce2727;
  --bottom-border:#4d0606;
  -webkit-user-select:none;
  user-select:none;
  box-shadow:0 -3px 0 0 var(--top-border),0 3px 0 0 var(--bottom-border),-3px 0 0 0 #6e0c0c,3px 0 0 0 #6e0c0c,-2px -5px 0 0 var(--border),2px -5px 0 0 var(--border),-5px -2px 0 0 var(--border),5px -2px 0 0 var(--border),-2px 5px 0 0 var(--border),2px 5px 0 0 var(--border),-5px 2px 0 0 var(--border),5px 2px 0 0 var(--border)
}

.button-text::selection{background:none}
.button-text:hover{background:linear-gradient(#9a0a0a,#8f0a0a)}
.button-text:active{
  background:#890000;
  --top-border:#4d0606;
  --bottom-border:#ce2727;
}

.main-section .buttons-group1 {
  grid-column-gap: 1rem;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  padding: 1.2rem 0 0;
}

.main-section .buttons-group1 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 1rem;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  place-content: center;
  flex-wrap: wrap;
  padding: 1.9rem 0;
}