@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p, h1, h2, h3{
    color: #A163E1;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body {
    background-image: url('./bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    background-color: #000000;
}

.cuadro-central {
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(15px);
    border-radius: 10px;

    width: 48rem;
    height: 34rem;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.icono-main {
    width: 256px;
    height: 256px;
    background-image: url('https://avatars.githubusercontent.com/u/87620680?size=256');
    background-repeat: no-repeat;
    border-radius: 15px;
    float: left;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.title {
    position: relative;
    top: 3%;
}

.redes {
    position: relative;
    top: -35%;
    left: 2%;
}

.icons {
    color: #ad6feb;
    font-size: 48px;
    margin: 10px;
}

.iconos-contenedor {
    display: flex;
    flex-direction: column;
}
  
.fila-iconos {
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
}

.playlist {
    position: relative;
    top: 5%;
    left: 38%;
}

.gif {
    position: absolute;
    top: 56%;
    left: 80%;
    display: flex;
    flex-direction: column;
}
