@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

#root, body {
    user-select: none;
}

h2 {
    font-family: 'Sixtyfour', sans-serif;
}

p {
    font-family: 'Source Code Pro', monospace;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    user-select:none;
}

canvas {
    display: block;
    z-index: 1;
}

.cuadro-blanco {
    width: 600px;
    height: 35rem;
    background-color: rgb(231, 231, 231);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

.imagen-esquina {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 15rem;
    width: 15rem;
    border-radius: 0.25rem;
}

.sobremi-container {
    width: 290px;
}

.gustos-container {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según tus necesidades */
    right: 10px; /* Ajusta la posición horizontal según tus necesidades */
    padding: 20px;
    width: 290px;
    border-left: 2px solid #000;
}

.icons-container {
    display: flex;
    flex-direction: row; /*COLUMN O ROW*/
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.icons {
    color: black;
    font-size: 32px;
    margin-bottom: 10px;
    margin-right: 10px;
}